<div id = "page-content">
<h2 class="text-center mt-4"><%= @task.title %></h2>
<div class="container">
<div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header ">
          Task by <%= @task.user.username if @task.user %>   
        </div>
        <div class="card-body">
          <div class="card-text text-center text-start">
            <p class="text-dark">Description of task: <%=(@task.description) %></p>
          </div>
          <div class="card-text text-center text-start">Task Start Date & Time: <%= @task.task_start_time %></div>
          <div class="card-text text-center text-start">Task End Date & Time: <%= @task.task_end_time %></div>
          <% if logged_in_as_user? && (@task.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_task_path(@task), class: "btn btn-outline-info" %>
            <%= button_to "Delete", task_path(@task), class: "btn btn-outline-danger mt-2",method: :delete, onclick: "return confirm('Are you sure?')" %>
          <% end %>

        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@task.created_at) %> ago, edited <%= time_ago_in_words(@task.updated_at) %> ago</small>
        </div>

        <div class="mb-3">
          <%= link_to '[Return to task listing]', tasks_path, class: "text-info text-center" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
