<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "ToDo", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link active"%>
        </li>
        <% if logged_in_as_user? %>
          <li class="nav-item">
            <%= button_to "Log Out", logout_user_path, method: :delete, class: "nav-link active text-white", style: "background-color: rgba(0, 0, 0, 0.5) !important;" %>         
          </li> 
          <li class="nav-item">
            <%= link_to "Create new task", new_task_path, class: "nav-link active"%>
          </li>
          <li class="nav-item">
            <%= link_to "My profile", current_user, class:"nav-link" %>
          </li>
          <% if current_user.admin? %>
            <%= link_to "Show all users", users_path, class: "nav-link active"%>
          <% end %>
          
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up!", new_user_path, class: "nav-link active"%>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In!", sign_in_path, class: "nav-link active"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>